$primary-color: #323232;
$secondary-color: #fafafa;
$bg-primary-color: #e1e1e1;
$hero-gradient: rgba(32, 32, 32, 0.5);
$desktop-width: 1440px;
$tablet-width: 768px;
$list-reset: none;
$primary-font: "Avenir Next Regular";
$primary-font-demi: "Avenir Next Demi Bold";
$primary-font-bold: "Avenir Next Bold";
