$primary-color: #323232;
$secondary-color: #fafafa;
$bg-primary-color: #e1e1e1;
$desktop-width: 1080px;
$tablet-width: 720px;
$mobile-width: 320px;
$list-reset: none;
$primary-font: "Avenir Next Regular";
$primary-font-demi: "Avenir Next Demi Bold";
$primary-font-bold: "Avenir Next Bold";
