@import "./partials/variables";
@import "./partials/mixins";

@font-face {
  font-family: "Avenir Next Regular";
  src: url("/assets/global-font/avenir-next-pro-lt/Linotype\ -\ AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("/assets/global-font/avenir-next-pro-lt/Linotype\ -\ AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("/assets/global-font/avenir-next-pro-lt/alternative-files/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Bold.ttf");
}

// Global Styles

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $secondary-color;

  &:hover,
  &:focus {
    color: $secondary-color;
  }
}

html,
body {
  font-family: $primary-font;
  font-size: 16px;
}

// Utility Classes

.container {
  max-width: $desktop-width;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Header & Nav

.header {
  background-color: $primary-color;
  color: $bg-primary-color;
  height: 5rem;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  @include desktop {
    padding: 0 11.25rem;
  }
}

.nav {
  @extend .flex-center;
  flex-wrap: wrap;
  flex-direction: column;

  @include tablet {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  &__url {
    height: 3rem;
  }

  &__logo {
    margin: 1rem 0;

    @include tablet {
      margin-left: 1.5rem;
      width: 7.5rem;
    }

    @include desktop {
      margin-left: 0;
    }
  }
  &__links {
    list-style: $list-reset;
    font-family: $primary-font-demi;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    @include tablet {
      width: 15.5rem;
      height: 2.5rem;
      margin-top: 2.5rem;
    }

    @include desktop {
      height: 3rem;
      margin-top: 2rem;
    }

    &-content:hover {
      cursor: pointer;
    }

    &-content,
    &-content--active {
      text-align: center;
      width: 50%;
      font-size: 0.7rem;

      @include tablet {
        width: 30%;
      }

      @include desktop {
        margin-left: 3.5rem;
        font-size: 1rem;
      }
    }

    &-content--active {
      color: $secondary-color;
      border-bottom: 5px solid $secondary-color;
      padding-bottom: 13px;

      @include tablet {
        border-bottom: 3px solid $secondary-color;
      }
    }
  }
}

// Hero

.hero {
  background-image: linear-gradient($hero-gradient),
    url(/assets/images/hero.jpg);
  background-size: cover;
  height: 11.4rem;
  display: flex;
  align-items: center;

  @include tablet {
    height: 25rem;
  }

  @include desktop {
    height: 41.8rem;
  }

  &__title {
    margin: 0 0 0 1rem;
    font-family: $primary-font-bold;
    color: $secondary-color;
    font-size: 1.5rem;
    line-height: 2rem;

    @include tablet {
      margin: 0 0 0 1.5rem;
      font-size: 3.8rem;
      line-height: 5rem;
    }

    @include desktop {
      margin-left: 11.25rem;
    }
  }
}

// About Section

.about {
  padding: 2rem 1rem 2.5rem 1rem;

  @include tablet {
    padding: 2rem 1.5rem 3rem 1.5rem;
  }

  @include desktop {
    width: 78.5rem;
    padding: 3rem 11.5rem;
    width: unset;
  }

  &__title {
    font-family: $primary-font-demi;
    margin: 0;
    margin-bottom: 1.5rem;
    text-transform: capitalize;

    @include tablet {
      font-family: $primary-font-bold;
      width: 22.5rem;
      font-size: 2.2rem;
      text-transform: none;
    }

    @include desktop {
      margin-bottom: 3rem;
    }
  }

  &__img {
    width: 18rem;
    margin-bottom: 1.5rem;

    @include tablet {
      width: 45rem;
    }

    @include desktop {
      width: 100%;
      align-content: center;
      padding: 0 5.75rem;
      margin-bottom: 3rem;
    }
  }

  &__text {
    font-family: $primary-font;
    font-size: 0.75rem;

    @include tablet {
      line-height: 1.5rem;
      font-size: 1rem;
    }

    @include desktop {
      font-size: 0.9rem;
      padding-left: 5.75rem;
    }

    &--right {
      font-size: 0.75rem;

      @include tablet {
        margin-left: 1.5rem;
        line-height: 1.5rem;
        font-size: 1rem;
      }

      @include desktop {
        margin-left: 2.5rem;
        font-size: 0.9rem;
        padding-right: 5.75rem;
      }
    }

    &--quote {
      margin-bottom: 2rem;

      @include desktop {
        margin-bottom: 2.5rem;
        width: 90%;
        padding: 0 5.75rem;
      }
    }

    &--author {
      margin-bottom: 2.5rem;

      @include desktop {
        margin-bottom: 3.5rem;
        padding: 0 5.75rem;
      }
    }

    &--title {
      margin-bottom: 1.5rem;
      font-size: 1rem;

      @include desktop {
        margin-bottom: 2rem;
        padding: 0 5.75rem;
      }
    }

    &--quote,
    &--author,
    &--title {
      font-family: $primary-font-demi;
    }

    &--quote,
    &--title {
      @include tablet {
        font-family: $primary-font-bold;
        font-size: 1.5rem;
      }
    }
  }

  &__text-wrapper {
    @include tablet {
      display: flex;
    }

    @include desktop {
      width: 100%;
    }
  }
}

// Gallery

.gallery {
  background-color: $secondary-color;
  padding: 2rem 1rem;

  @include tablet {
    padding: 3rem 1.5rem 2rem 1.5rem;
  }

  @include desktop {
    width: 100%;
    padding: 3rem 11.5rem 2.5rem 11.5rem;
  }

  &__title {
    font-family: $primary-font-bold;
    margin-bottom: 1.5rem;

    @include tablet {
      font-size: 2.2rem;
      margin-bottom: 2.5rem;
    }

    @include desktop {
      margin-bottom: 4rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 18rem;
    padding-bottom: 1rem;

    @include tablet {
      width: 14rem;
      padding-bottom: 1.5rem;
    }

    @include desktop {
      width: 21.5rem;
    }
  }
}

// Footer

.footer {
  background-color: $primary-color;
  color: $bg-primary-color;
  font-family: $primary-font;
  padding: 2rem 1rem;

  @include tablet {
    padding: 2.5rem 1.5rem;
  }

  @include desktop {
    padding: 3rem 11.5rem;
  }

  &__headings {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      position: relative;
    }

    @include desktop {
      margin-bottom: 3.5rem;
    }
  }

  &__title {
    text-transform: capitalize;
    font-family: $primary-font-bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  &__social {
    margin-bottom: 1.5rem;

    @include tablet {
    }
  }

  &__social-wrapper {
    @extend .flex-center;
    justify-content: flex-start;

    @include tablet {
      width: 30rem;
      justify-content: space-between;
      padding-left: 4rem;
    }

    @include desktop {
      width: 80%;
      justify-content: space-between;
    }
  }

  &__icons {
    margin-right: 1.5rem;

    &--display {
      display: none;

      @include tablet {
        display: inline-block;
        margin-bottom: 1.5rem;
      }
    }
  }

  &__contact {
    list-style: $list-reset;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }

    @include desktop {
      margin-bottom: 2.5rem;
      width: 75%;
    }
  }

  &__contact * {
    margin-bottom: 1.5rem;

    @include desktop {
      margin: 0;
    }
  }

  &__contact-can,
  &__contact-america,
  &__contact-eu {
    font-size: 0.7rem;

    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__contact-can--bold,
  &__contact-america--bold,
  &__contact-eu--bold {
    font-family: $primary-font-demi;
    font-size: 0.75rem;

    @include tablet {
      font-size: 0.9rem;
    }

    @include desktop {
      margin-bottom: 1.5rem;
    }
  }

  &__copyright {
    font-size: 0.7rem;
    width: 65%;

    @include tablet {
      font-size: 0.95rem;
    }

    @include desktop {
      font-size: 0.95rem;
    }
  }
}
