@font-face {
  font-family: "Avenir Next Regular";
  src: url("/assets/global-font/avenir-next-pro-lt/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("/assets/global-font/avenir-next-pro-lt/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("/assets/global-font/avenir-next-pro-lt/alternative-files/Linotype - Avenir Next LT Pro Bold.ttf");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next Regular";
}

.header {
  background-color: #323232;
  color: #e1e1e1;
  height: 5rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__url {
  height: 3rem;
}

.nav__logo {
  margin: 1rem 0;
}

.nav__links {
  list-style: none;
  font-family: "Avenir Next Demi Bold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav__links-content, .nav__links-content--active {
  text-align: center;
  width: 50%;
}

.nav__links-content--active {
  color: #fafafa;
  border-bottom: 5px solid #fafafa;
  padding-bottom: 7px;
}

.hero {
  background-image: url(/assets/images/hero.jpg);
  background-size: cover;
  height: 11.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  margin: 0 0 0 1rem;
  font-family: "Avenir Next Bold";
  color: #fafafa;
  font-size: 1.5rem;
  line-height: 2rem;
}

.about {
  padding: 2rem 1rem 2.5rem 1rem;
}

.about__title {
  font-family: "Avenir Next Demi Bold";
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 1.5rem;
}

.about__img {
  width: 18rem;
  margin-bottom: 1.5rem;
}

.about__text {
  font-family: "Avenir Next Regular";
  font-size: 0.75rem;
}

.about__text--quote, .about__text--author, .about__text--title {
  font-family: "Avenir Next Demi Bold";
}

.about__text--quote {
  margin-bottom: 2rem;
}

.about__text--author {
  margin-bottom: 2.5rem;
}

.about__text--title {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.gallery {
  background-color: #fafafa;
  padding: 2rem 1rem;
}

.gallery__title {
  font-family: "Avenir Next Bold";
  margin-bottom: 1.5rem;
}

.gallery__img {
  width: 18rem;
  padding-bottom: 1rem;
}

.footer {
  background-color: #323232;
  color: #e1e1e1;
  font-family: "Avenir Next Regular";
  padding: 2rem 1rem;
}

.footer__title {
  text-transform: capitalize;
  font-family: "Avenir Next Bold";
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.footer__social {
  margin-bottom: 1.5rem;
}

.footer__icons {
  margin-right: 1.5rem;
}

.footer__contact {
  list-style: none;
}

.footer__contact * {
  margin-bottom: 1.5rem;
}

.footer__contact-can, .footer__contact-america, .footer__contact-eu {
  font-size: 0.6rem;
}

.footer__contact-can--bold, .footer__contact-america--bold, .footer__contact-eu--bold {
  font-family: "Avenir Next Demi Bold";
  font-size: 0.75rem;
}

.footer__copyright {
  font-size: 0.6rem;
}
/*# sourceMappingURL=main.css.map */