// Gallery

.gallery {
  background-color: $secondary-color;
  padding: 2rem 1rem;
  width: 100%;

  @include tablet {
    margin: 0;
    padding: 3rem 1.5rem 2rem 1.5rem;
  }

  @include desktop {
    width: 100%;
    padding: 3rem 11.5rem 2.5rem 11.5rem;

    margin: 0;
  }

  &__title {
    font-family: $primary-font-bold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

    @include tablet {
      font-size: 2.2rem;
      margin-bottom: 2.5rem;
    }

    @include desktop {
      margin-bottom: 4rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 100%;
    padding-bottom: 1rem;

    @include tablet {
      width: calc(100% / 3 - 1rem);
      padding-bottom: 1.5rem;
    }
  }
}
